.App {
  background-color: #ba5536;
  position: absolute;
  display: block;
  block-size: auto;
  text-align: left;
  padding: 20px;
  margin-top: 200px;
  margin-left: 550px; 
  color: white;
  border: solid;
  border-color: #46211a;
  border-radius: 25px;
  font-family: 'Trebuchet MS';
}





input {
  background-color: #693d3d;
  border-style: dashed;
  border-radius: 15px;
  margin-top: 7px;
  margin-left: 20%;
  color: white;
  font-family: 'Trebuchet MS';
}

button {
  font-family: 'Trebuchet MS';
  margin-left: 40%;
  margin-top: 18px;
  font-size: 15px;
  color: white;
  background-color: #693d3d;
  border-color: white;
  border-radius: 15px;
}

select {
  margin-top: 7px;
  margin-left: 24%;
  color: white;
  font-family: 'Trebuchet MS';
  background-color: #693d3d;
  border-color: white;
  border-style: dashed;
  border-radius: 15px;
  border-width: 2px;
}
